@implements IDisposable

@using Microsoft.AspNetCore.Identity
@using GestaoLojaPediTiscos.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@inject NavigationManager NavigationManager

<div class="top-row ps-3">
    <div class="container-fluid">
        <a class="logo-span" href="/">@AppConfig.tituloHomePage</a>
    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/produtos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Produtos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/categorias">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Categorias
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/subcategorias">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> SubCategorias
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/mododispos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ModDispo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/promocoes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Promocoes
            </NavLink>
        </div>
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/encomendas">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gerir Encomendas
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/pagamentos">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gerir Pagamentos
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/users">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gerir Utilizadores
                        </NavLink>
                    </div>
                </Authorized>
                <NotAuthorized>

                </NotAuthorized>
            </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

